= form_for @track, :validate => true, :html => { :class => "form-horizontal"}, :method => 'post', :url => user_tracks_path(@user) do |f|
  = f.error_messages
  %fieldset
    -#%legend Legend text
    .control-group
      %label.control-label{:for => "track_name"} Name
      .controls
        %input#track_name.input-xlarge{:type => "text", :name => "track[name]"}
    .control-group
      %label.control-label{:for => "activity"} Activity
      .controls
        %select#track_activity{ :name => "track[activity]"}
          %option Bicicleta de carretera
          %option Bicicleta de montaña
          %option Bicicleta estática / Rodillo
    .control-group
      %label.control-label{:for => "departing"} Departing
      .controls
        = f.datetime_select("departing",{:order => [:day, :month, :year, :hour, :minute]}, {:class => "datetime"})
        -#%input#departing.input-xlarge{:type => "text"}
    .control-group
      %label.control-label{:for => "duration"} Duration
      .controls
        %input#track_duration_hours.input-mini{:type => "text", :name => "track[duration_hours]", :placeholder => "00", :maxlength => 2}
        \:
        %input#track_duration_minutes.input-mini{:type => "text", :name => "track[duration_minutes]", :placeholder => "00", :maxlength => 2}
    -#  .controls
    -#    = f.time_select("duration", :ignore_date => true, :ampm => false)
    -#    -#%input#departing.input-xlarge{:type => "text"}
    -#= f.datetime_select("departing")
    -#%br/
    -#= f.time_select("duration")
    -#%br/
    -#.control-group
    -#  %label.control-label{:for => "departing"} Text input
    -#  .controls
    -#    %input#departing.input-xlarge{:type => "text"}
    -#.control-group
    -#  %label.control-label{:for => "duration"} Text input
    -#  .controls
    -#    %input#duration.input-xlarge{:type => "text"}
    -#      %p.help-block Supporting help text
    .control-group
      %label.control-label{:for => "track_distance"} Distance
      .controls
        %input#track_distance.input-xlarge{:type => "text", :name => "track[distance]"}
    .control-group
      %label.control-label{:for => "track_heartbeats-average"} Heartbeats average
      .controls
        %input#track_heartbeats_average.input-xlarge{:type => "text", :name => "track[heartbeats_average]"}
    .control-group
      %label.control-label{:for => "track_heartbeats-max"} Heartbeats max
      .controls
        %input#track_heartbeats_max.input-xlarge{:type => "text", :name => "track[heartbeats_max]"}
    .control-group
      %label.control-label{:for => "track_burnedcalories"} Burned calories
      .controls
        %input#track_burnedcalories.input-xlarge{:type => "text", :name => "track[burnedcalories]"}
    .control-group
      %label.control-label{:for => "feeling"} Feeling
      .controls
        %select#track_feeling{ :name => "track[feeling]"} 
          %option Increible
          %option Bien               
          %option Regular                      
          %option Mal                     
    .control-group
      %label.control-label{:for => "weather"} Weather
      .controls
        %select#track_weather{ :name => "track[weather]"}
          %option Sol
          %option Nubes
          %option Lluvia
          %option Nieve
          %option Tormenta
    .control-group
      %label.control-label{:for => "notes"} Additional notes
      .controls
        %textarea#track_notes.input-xlarge{:type => "text", :name => "track[notes]"}
    .form-actions
      %button.btn.btn-primary{:type => "submit"} Add track!
      %button.btn Cancel
