.betatester-request
  %h3 Thank you!
  %br  
  %p We have received your request for an invitation to example.com.
  %p We'll contact you when we launch.

  = simple_form_for @user, :url => mark_as_betatester_user_path(@user), :method => :post, :html => { :id => "betatester_email", :class=>"form-inline" } do |f|
    = f.submit "I wanna be betatester!", :class => "active", :id => 'betatester_button'


