.betatester-request
  %br
  %p Gracias por apuntarte y echarnos una mano en la creación de RiderState. Nos pondremos en contacto contigo lo antes posible.
  %p Mientras tanto, ya sabes… ¡A coger la bici!
  %br
