- content_for :head do
  = javascript_include_tag 'http://www.google.com/jsapi'
%h2 Users
-#.span9
-#  #chart{:style => "width: 700px; height: 240px"}
-#  = render_chart @chart, 'chart'
-#  %br
.span9
  -#%p 
  -#  Send Bulk Invitations: 
  -#  = link_to "10 &#183;".html_safe, bulk_invite_path(:quantity => '10')
  -#  = link_to "50 &#183;".html_safe, bulk_invite_path(:quantity => '50')
  -#  = link_to "100 &#183;".html_safe, bulk_invite_path(:quantity => '100')
  -#  = link_to "500 &#183;".html_safe, bulk_invite_path(:quantity => '500')
  -#  = link_to "1000", bulk_invite_path(:quantity => '1000')
  %table.datatable.table.table-bordered.table-condensed
    %thead
      %tr
        %th Email
        %th Id
        %th Distance
    %tbody
      - @users.each do |user|
        %tr
          %td #{link_to user.email, user}
          %td #{user.id}
          %td #{user.distance}
