%h1 Editing activity

= render 'form'

-#%button.btn.btn-primary{:type => "submit"} Update activity!
-#= link_to 'Show', user_activity_path(@current_user,@activity)
-#\|
-#= link_to 'Back', user_activities_path(@current_user)
