%footer#footer{:style => "text-align: center; margin-top: 0px", :role => "contentinfo"}
  .wrapper
    #footer-top
      .alignright
        %ul
          %li Síguenos en:
          %li
            %a#fb.rs-ico{:href => "http://www.facebook.com/pages/RiderState/273825239294612", :target => "_blank", :title => "Síguenos en facebook"}
          %li.rs
            %a#tw.rs-ico{:href => "http://twitter.com/#!/RiderState", :target => "_blank", :title => "Síguenos en twitter"}
          -#%li.rs
            -#%a#yt.rs-ico{:href => "http://www.youtube.com/user/RiderStateVideo", :target => "_blank", :title => "Síguenos en youtube"}
          -#%li.rs
            -#%a#fs.rs-ico{:href => "http://es.foursquare.com/riderstate", :target => "_blank", :title => "Síguenos en foursquare"}
          %li.rs
            %a#rss.rs-ico{:href => "http://feeds.feedburner.com/Riderstate", :target => "_blank", :title => "RiderState RSS"}
    #footer-bottom
      .alignleft
        %a{:href => "http://www.riderstate.com/politica-de-privacidad"} Política de privacidad
        |
        %a{:href => "http://www.riderstate.com/contacto", :title => "Contacto"} Contacto
        -#|
        -#%a{:href => "http://www.riderstate.com/contacto", :title => "Quienes somos"} Quienes somos
      .alignright{:style => "text-align:right"}
        .copy RiderState © 2012
        %div
          %a{:href => "http://www.cleverconsulting.net", :target => "_blank"} Clever Consulting, diseño web, comercio electrónico y marketing online
