= link_to "Riderstate Prelaunch Signup", root_path, :class => 'brand'
%ul.nav
  -#- if user_signed_in?
    -#%li
      -#= link_to('Logout', destroy_user_session_path, :method=>'delete')
  -#- else
    -#%li
      -#= link_to('Login', new_user_session_path)  
  -#- if user_signed_in?
    -#%li
      -#= link_to('Edit account', edit_user_registration_path)
    -#- if current_user.has_role? :admin
      -#%li
        -#= link_to('Admin', users_path)
  -#- else
    -#%li
      -#= link_to('Sign up', new_user_registration_path)

  %li.rs
    %a#fb.rs-ico{:href => "http://www.facebook.com/pages/RiderState/273825239294612", :target => "_blank", :title => "Síguenos en facebook"}
  %li.rs
    %a#tw.rs-ico{:href => "http://twitter.com/#!/RiderState", :target => "_blank", :title => "Síguenos en twitter"}
  -#%li.rs
    -#%a#yt.rs-ico{:href => "http://www.youtube.com/user/RiderStateVideo", :target => "_blank", :title => "Síguenos en youtube"}
  -#%li.rs
    -#%a#fs.rs-ico{:href => "http://es.foursquare.com/riderstate", :target => "_blank", :title => "Síguenos en foursquare"}
  %li.rs
    %a#rss.rs-ico{:href => "http://feeds.feedburner.com/Riderstate", :target => "_blank", :title => "RiderState RSS"}
